{% extends 'base.html' %}
{% block content %}
<br>
<div class="w3-container w3-padding w3-card-4">
    <center>
        <img src="{{ url_for('static', filename='images/' ~ (student.avatar if student.avatar else 'default_avatar.png')) }}" 
             style="width:150px;height:150px;border-radius:50%;object-fit:cover;margin-bottom:10px;">
    </center>
    <table class="w3-table-all">
        <tr><td>IDNO</td><td>{{ student.idno }}</td></tr>
        <tr><td>LASTNAME</td><td>{{ student.lastname }}</td></tr>
        <tr><td>FIRSTNAME</td><td>{{ student.firstname }}</td></tr>
        <tr><td>COURSE</td><td>{{ student.course }}</td></tr>
        <tr><td>LEVEL</td><td>{{ student.level }}</td></tr>
    </table>
</div>
<script>
    setTimeout(function(){
        window.location.href = "{{ url_for('index') }}";
    }, 5000);
</script>
{% endblock %}